* {
    margin: 0;
    padding: 0;
  }
  
  .top-bar {
    background: #eebf92;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin-bottom: 15px;
  }
  
  .btn {
    background: #fff;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }

  
  .page-info {
    margin-right: 15px;
    margin-left: 10px;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 1rem;
  }

  .textBox {
    margin-right: 15px;
    position: absolute;
    right: 0px;
    width: 45%;
    height: 85%;
  }

  .canvasBox {
    margin-left: 15px;
    width: 50%;
    height: 85%;
    position: absolute;
    background-color: red;
  }